# Vim snippets for OpenSCAD
snippet module "module name( parameters ) { actions }"
    module ${1:name}(${2:parameters}){
        ${3:actions};
    }
endsnippet

snippet if "if( condidion ) { actions }"
    if (${1:condition}){
        ${3:actions};
    }
endsnippet

snippet translate "translate([ coordinates ])"
    translate([${1:coordinats}]);
endsnippet


snippet rotate "rotate([ coordinates ])"
    rotate([${1:coordinats}]);
endsnippet
